%h1.text-center= @title
<script src="//www.google.com/jsapi"></script>
<script src="js/chartkick.js"></script>
.container-fluid
  .row
    .data-vis
      .chart
        %p
          / =bar_chart({Unassigned: @devices.all(status: "Unassigned").count, Unknown: @devices.all(status: "").count,Received: @devices.all(status: "Received").count,StoragePrestage: @devices.all(status: "Storage-Prestage").count,WorkinProgrss: @devices.all(status: "Work in Progrss").count,QAPending: @devices.all(status: "QA Pending").count,ReadyForShipment: @devices.all(status: "Ready For Shipment").count,Shipped: @devices.all(status: "Shipped").count}, id: "front-chart")
    .data-table
      %table.table.table-striped
        %thead.table-head
          %tr
            %td IMEI
            %td Serial
            / %td ICCI
            %td Model
            / %td Model
            %td Location
            %td Status
        %tbody
          - @devices.each do |dev|
            %tr
              %td
                %a{ href: "/device/list/imei/#{dev['imei']}"}=dev['imei']
              / %td
              %td
                %a{ href: "/device/list/serial/#{dev['serial']}"}=dev['serial']
              %td
                =dev['modelid']
              %td
                %a{ href: "/device/list/location/#{dev['location']}" }=dev['location']
              %td
                %a{ href: "/device/list/status/#{dev['status']}" }=dev['status']
              %td
                %a.btn.btn-primary{ href: "/device/#{dev['serial']}" } Change

.container-fluid
  .row
    .data-table
      %table.table.table-striped
        %thead.table-head
          %tr
            %td ID
            %td UPCA
            %td SKU
            %td ICCID
            %td Location
            %td Status
        %tbody
          - @sims.each do |sim|
            %tr
              %td
                =sim['id']
              %td
                =sim['upca']
              %td
                =sim['serial']
              %td
                =sim['iccid']
              %td
                =sim['location']
              %td
                =sim['status']
              %td
                %a.btn.btn-primary{ href: "/sim/#{sim['id']}/edit" } Change



