%h1.text-center= @title
<script src="//www.google.com/jsapi"></script>
<script src="js/chartkick.js"></script>
.container-fluid
  .row
    .col-sm-12.col-md-12.col-lg-6
      .data-vis
        .chart
          %p
            / =bar_chart({Unassigned: @devices.all(status: "Unassigned").count, Unknown: @devices.all(status: "").count,Received: @devices.all(status: "Received").count,StoragePrestage: @devices.all(status: "Storage-Prestage").count,WorkinProgrss: @devices.all(status: "Work in Progrss").count,QAPending: @devices.all(status: "QA Pending").count,ReadyForShipment: @devices.all(status: "Ready For Shipment").count,Shipped: @devices.all(status: "Shipped").count}, id: "front-chart")
      .data-table
        %H3 Phones
        %table.table.table-hover.table-condensed
          %thead.table-head
            %tr
              %td IMEI
              %td Serial
              %td ICCID
              / %td Model
              / %td Model
              %td Location
              %td Status
          %tbody
            - @devices.each do |dev|
              %tr
                %td
                  %a{ href: "/device/list/imei/#{dev['imei']}"}=dev['imei']
                / %td
                %td
                  %a{ href: "/device/list/serial/#{dev['serial']}"}=dev['serial']
                %td
                  =dev['iccid']
                %td
                  %a{ href: "/device/list/location/#{dev['location']}" }=dev['location']
                %td
                  %a{ href: "/device/list/status/#{dev['status']}" }=dev['status']
                %td
                  %a.btn.btn-primary{ href: "/device/#{dev['serial']}" } Change




