
%h1.text-center= @title

%table.table.table-striped
  %thead.table-head
  %tr
    %td Attribute
    %td Value
  %tbody
  - @devices.each do |k,v|
    %tr
      %td #{k.upcase}
      %td
        %a{ href: "/device/#{k}/#{v}" }#{v}
